/* Pantone Colors */
:root {
    --space-cadet: #22223bff;
    --isabelline:#22223b;
    --dgdfg: #4a4e69;
    --fgnfgf: #9a8c98;
    --gjfgjgj:#c9ada7;
    --ghhgfj: #f2e9e4;
    --ghhgfj: #F2E9E4;

    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Montserrat', sans-serif;
 
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2E9E4;
    margin: 5px;
    padding: 0;
    color: #22223bff;
} 
.header {
    font-family: 'Montserrat', sans-serif;
    background-color:#e0d0cc;
    color:  #22223b;
    padding: 10px 0;
    text-align: center;
}

img {
    width: 300px;
    border: 1px solid #9a8c98;
    padding: 3px;
    border-radius: 30px;
}

* {
    box-sizing: border-box;
}

p {
    display:flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

main {
    padding: 50px;
}

.main-content {
    background-color: #cfc9cf;
    padding: 20px;
    margin: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header, .main-content {
    padding-left: 50px;
    padding-right: 20px;
}

.header h1, .header h2{
    margin: 10px;
    padding: 10px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 32px;
}



h2 {
    font-family: 'Averia Serif Libre', cursive;
    font-weight: normal;
    background-color:#9a8c98;
    border-bottom: 3px solid #22223b;
    border-radius: 5px;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 20px;
 
}

h3 {
    font-weight: normal;
    background-color: #c9ada7;
    font-style: italic;
    border-bottom: 1px solid #4a4e69;
    border-radius: 3px;
    width: fit-content; 
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

.main-content p {
    color: #b8e2c8;
}

.main-content p.important {
    color: #06020f;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #3D0066;
    transition: color 0.3s ease;
    border-bottom: 1px solid  #1C004D;
}

a:hover {
    text-decoration: none; 
    color: #3D0066;
    border-bottom: 1px solid #A3A6FF;
}

.navbar a {
    padding: 10px 15px;
    display: inline-block;
    background-color: #c9ada7;
    color: #22223b;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    background-color: #b8e2c8;
    transform: translateY(-2px);

    .left-column {
    float: left;
    width: 50%;
}


.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

}
